body {
  background-color: white;
  color: #333;
  width:330px;
  margin:20px;
  min-height:150px;
}
@font-face {
  font-family: Redacted;
  src: url("fonts/redacted-regular.woff");
}

}
img {
 
}
/*server info*/
.serverResult {
  text-align: left;
  margin:15px 5px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color:#DDD;
  border-width: 1px;
}
ul{
  -webkit-margin-before:0px;
  -webkit-padding-start: 0px;
  margin-bottom: 10px;
}
ul li{
    list-style-type: none;
    font-size: 16px;
    line-height: 18px;
    margin:8px 0;
}
ul li .status{
  font-size: 14px;
  background-color: gray;
  text-transform: uppercase;
  float:right;
  color:white;
  padding:0 5px;
  letter-spacing: .05em;
}
ul li .fail {
  background-color: black;
}
ul li .ok {
  background-color: green;
}
.serverResult p {
  color:gray;
  font-weight: 200;
}
.serverResult p a {
  color:gray;
}
.serverResult p a:hover {
  color:black;
}
/*buttons*/
button {
  margin: 7px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  font-size: 14px;
  border: 1px;
  border-style: solid;
  padding:3px 0;
  vertical-align: middle;
}
button.modeButtons {
    width: 50%;
    margin: 7px -5px;
}
button#disableSearch_button{
  display: none;
}
button:disabled {
    background-color: white;
    color: gray;
    border-color: gray;
}
button:hover:enabled,button.modeButtons:disabled,.active{
  background-color: black;
  color: white;
  border-color: #333;
}
button, button.modeButtons.enabled:disabled{
  background-color: white;
  color:#333;
  border-color: #333;
}

a:focus, button:focus {
  outline: 0;
}
